<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Stock::</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../static/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
    <!-- Load Require CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Font CSS -->
    <link href="../static/css/boxicon.min.css" rel="stylesheet" th:href="@{/css/boxicon.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="../static/css/templatemo.css" th:href="@{/css/templatemo.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="..static/css/custom.css" th:href="@{/css/custom.css}">




<script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script>


</head>

<body>
    <!-- Header -->
    
    <!-- <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow"> -->
        <div class="container d-flex justify-content-between ">
            <a class="navbar-brand h1" href="getindex">
                <i class='bx bx-buildings bx-sm text-dark'></i>
                <span class="text-dark h4">Stock</span> <span class="text-primary h4">APP</span>
            </a>
            

            <div class="" >
                <div class="flex-fill mx-xl-5 mb-2">
                   <ul>
                       
                          <li>  <a class="nav-link btn-outline-primary rounded-pill px-3" href="getindex">Home</a></li>
                        
                        <li>     <a class="nav-link btn-outline-primary rounded-pill px-3" href="#">About</a></li>
                        
                          <li>    <a class="nav-link btn-outline-primary rounded-pill px-3" href="#">Services</a></li>
                        
                        
                       
                          <li>   <a class="nav-link btn-outline-primary rounded-pill px-3" href="getcontact1">Contact</a></li>
                        
                         <li>   <a class="nav-link btn-outline-primary rounded-pill px-3" href="#">Services</a></li>
                        
                    <li>     <a class="nav-link nav-link btn-outline-primary rounded-pill  px-3" href="getindex">Logout&nbsp;&nbsp;</a><li>
                    
                     </ul>
                  
                  
                 
                </div>
               
            </div>
        </div>
   <!--  </nav> -->
    
    
    
    <!-- Close Header -->


    <!-- Start Banner Hero -->
    <section class="bg-light">
        <div class="container py-4">
            <div class="row align-items-center justify-content-between">
                <div class="contact-header col-lg-4">
                    <h1 class="h2 pb-3 text-primary"></h1>
                    <h3 class="h4 regular-400">User Id&nbsp; :&nbsp;<span class="" th:text="${userid}"></span></h3>
                    <p class="light-300">
                       
                        
                    </p>
                </div>
                <div class="contact-img col-lg-5 align-items-end col-md-4">
                   
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Hero -->


    <!-- Start Contact -->
    <section class="">

        <div class="row">
        
        
        	<div class="col-sm-4 ">

				<div class="leftmenuuser">
				<div class="ulleftmenuuser ">
					<table >
						<tr>
						<td><a class=" leftmenutxt"	href="index.html"></a></td>
						</tr>
						
							<tr>
						<td><a	class="leftmenutxt" href="@{/userliststock/{userid}(userid = ${userid})}"><span>&nbsp;&nbsp;>&nbsp;&nbsp;</span>List Stock</a></td>
						
						
						<tr>
						
						<tr>
						<td><a	class="leftmenutxt" href=""><span>&nbsp;&nbsp;>&nbsp;&nbsp;</span>Search Stock</a></td>
						
						
						<tr>
						<td><a	class=" leftmenutxt" href=""><span>&nbsp;&nbsp;>&nbsp;&nbsp;</span>Buy Stock</a></td>
						
						</tr>
						<tr >
						
						<td><a	class="leftmenutxt" href=""><span>&nbsp;&nbsp;>&nbsp;&nbsp;</span>Sell Stock</a></td>
						
						</tr>
						<tr>
						
						<td><a class="leftmenutxt " href=""></a></td>
					
						</tr>
					</table>

                   </div>
				</div>

			</div>
           




            <!-- Start Contact Form -->
            <div class="col-sm-8 ">
            
            <div>
            <div class="container">
		<h3>Stock  DATA PAGE </h3>
		<table class="table table-hover">
			<tr class="bg-info text-white">
				<th>Stock ID</th>
				<th>Company Name</th>
				<th>Stock Symbol</th>
				<th>Unit Price</th>
				<th>Units Available</th>
				
			</tr>
			<tr th:each="ob:${list}">
				<td>[[${ob.stockId}]]</td>
				<td>[[${ob.companyName}]]</td>
				<td>[[${ob.stockSymbol}]]</td>
				<td>[[${ob.unitPrice}]]</td>
				<td>[[${ob.unitsAvailable}]]</td>
				
				<td>
<!-- <a th:href="@{/employee/delete(id=${ob.empId})}" class="btn btn-danger">DELETE</a> |  -->
					<a th:href="@{/buystock/{userid}(userid = ${userid})/(stockid=${ob.stockId})}" class="btn btn-warning">BUY</a>
				</td>
			</tr>
		</table>
		<hr/>
		<nav aria-label="Page navigation example">
  			<ul class="pagination justify-content-center">
  				<li class="page-item" th:if="${!pob.isFirst()}">
    				<a class="page-link" th:href="@{/userliststock/(page=0)}">First</a>
    			</li>
    			<li class="page-item" th:if="${pob.hasPrevious()}">
    				<a class="page-link" th:href="@{/userliststock/(page=${pob.getNumber()-1})}">Previous</a>
    			</li>
    			<th:block th:each="i:${#numbers.sequence(0,pob.getTotalPages()-1)}">
    				<li class="page-item">
    					<a class="page-link" th:href="@{/userliststock/(page=${i})}">[[${i+1}]]</a>
	    			</li>
    			</th:block>
    			<li class="page-item" th:if="${pob.hasNext()}">
    				<a class="page-link" th:href="@{/userliststock/(page=${pob.getNumber()+1})}">Next</a>
    			</li>
    			<li class="page-item" th:if="${!pob.isLast()}">
    				<a class="page-link" th:href="@{/userliststock/(page=${pob.getTotalPages()-1})}">Last</a>
    			</li>
  			</ul>
		</nav>
	  </div>
            
            
            </div>
               
            </div>
            <!-- End Contact Form -->


        </div>
    </section>
    <!-- End Contact -->


    <!-- Start Footer -->
    <footer class="bg-secondary pt-4">
        <div class="container">
            <div class="row py-4">

                <div class="col-lg-3 col-12 align-left">
                    <a class="navbar-brand" href="index.html">
                        
                        <span class="text-light h5"></span> <span class="text-light h5 semi-bold-600"></span>
                    </a>
                    <p class="text-light my-lg-4 my-2">
                       
                    </p>
                    <ul class="list-inline footer-icons light-300">
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank">
                               
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.linkedin.com/">
                                
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" >
                                
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" >
                               
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank">
                             
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h3 class="h4 pb-lg-3 text-light light-300"></h2>
                        <ul class="list-unstyled text-light light-300">
                            <li class="pb-2">
                               <a class="text-decoration-none text-light" href="index.html"></a>
                            </li>
                            <li class="pb-2">
                               <a class="text-decoration-none text-light py-1" href="about.html"></a>
                            </li>
                            <li class="pb-2">
                               <a class="text-decoration-none text-light py-1" href="work.html"></a>
                            </li>
                            <li class="pb-2">
                                <a class="text-decoration-none text-light py-1" href="pricing.html"></a>
                            </li>
                            <li class="pb-2">
                                <a class="text-decoration-none text-light py-1" href="contact.html"></a>
                            </li>
                        </ul>
                </div>

                <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h2 class="h4 pb-lg-3 text-light light-300"></h2>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                           <a class="text-decoration-none text-light py-1" href="#"></a>
                        </li>
                        <li class="pb-2">
                           <a class="text-decoration-none text-light py-1" href="#"></a>
                        </li>
                        <li class="pb-2">
                           <a class="text-decoration-none text-light py-1" href="#"></a>
                        </li>
                        <li class="pb-2">
                           <a class="text-decoration-none text-light py-1" href="#"> </a>
                        </li>
                        <li class="pb-2">
                            </i><a class="text-decoration-none text-light py-1" href="#"> </a>
                        </li>
                        <li class="pb-2">
                            </i><a class="text-decoration-none text-light py-1" href="#"></a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h2 class="h4 pb-lg-3 text-light light-300"></h2>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <a class="text-decoration-none text-light py-1" href="tel:010-020-0340"></a>
                        </li>
                        <li class="pb-2">
                           <a class="text-decoration-none text-light py-1" href="mailto:info@company.com"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="w-100 bg-primary py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-start text-center text-light light-300">
                           
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-end text-center text-light light-300">
                            <a rel="sponsored" class="text-decoration-none text-light" href="" target="_blank"><strong></strong></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->


    <!-- Bootstrap -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <!-- Templatemo -->
    <script src="../static/js/templatemo.js"></script>
    <!-- Custom -->
    <script src="../static/js/custom.js"></script>

</body>

</html>